body {
  font-family: Roboto, serif;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: lightslategray;

  .app {
    background: darkgray;
    border: 2px solid lightgray;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: rgb(0 0 0 / 15%) 15px 15px 20px -5px, hsl(210deg 14% 57% / 90%) -15px -15px 20px 5px;

    .display {
      margin-bottom: 2rem;
      text-align: left;
      font-size: 2rem;

      .history {
        background: darkgray;
        height: 15rem;
        max-height: 15rem;
        padding-left: 1.5rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow-y: auto;

        div {
          border-bottom: 1px solid gray;
          padding: 0.75rem 0;

          &:last-child {
            border: none;
          }
        }
      }

      .input {
        background: white;
        height: 5rem;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        font-weight: bold;
        border: 2px solid dodgerblue;
        border-radius: 0.5rem;
        margin: 0 0.5rem;
      }
    }

    .button-grid {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 40rem;

      .button {
        flex: 0 0 20%;
        margin: 0.5rem;
        width: 5rem;
        height: 5rem;
        border: 1px solid darkslategray;
        border-radius: 0.5rem;
        font-size: 2rem;
        flex-grow: 1;
        cursor: pointer;

        &:hover {
          filter: brightness(0.9);
        }

        &:first-child {
          background: hsl(0deg 96% 70%);
        }

        &:last-child {
          background: hsl(120deg 96% 70%);
        }
      }
    }
  }
}
